@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, sans-serif;
  font-weight: lighter;


  --scrollbar-gutter: #252525;
  --scrollbar-arm: #4f4f5c;

  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-gutter) var(--scrollbar-arm);
}

pre {
  font-family: Arial, sans-serif;
  font-weight: lighter;
}

/* Scroll Bars - Cont*/
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-gutter);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-arm);
  border-radius: 12px;
}

.text-shadow {
  /* text-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.9); */
  text-shadow: 1px 1px 0 rgb(0, 0, 0),
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black;
}